.cover {
    width: 100%;
    margin: 0 auto;
    padding-top: 16px;
}

@media screen and (min-width: 568px) {
    .cover {
        padding-top: 25px;
    }
}

@media screen and (min-width: 984px) {
    .cover {
        padding-top: 27px;
    }
}

@media screen and (min-width: 1140px) {
    .cover {
        padding-top: 14px;
    }
}