.lead__subtitle {
    max-width: 288px;
    margin: 0 0 40px;
    padding: 0 16px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

@media screen and (min-width: 568px) {
    .lead__subtitle {
        max-width: 640px;
        line-height: 36px;
        font-size: 30px;
        margin-bottom: 56px;
    }
}

@media screen and (min-width: 1140px) {
    .lead__subtitle {
        margin-bottom: 64px;
    }
}