.photo-grid {
    width: calc(100% - 32px);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    gap: 16px;
    padding-top: 64px;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        width: calc(100% - 48px);
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        padding-top: 92px;
        padding-bottom: 92px;
        width: calc(100% - 184px);
        margin: 0 auto;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}