.places {
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 568px) {
    .places {
        width: calc(100% - 48px);
    }
}

@media screen and (min-width: 984px) {
    .places {
        width: calc(100% - 96px);
    }
}

@media screen and (min-width: 1140px) {
    .places {
        width: calc(100% - 296px);
    }
}