.lead__title {
    max-width: 288px;
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
        max-width: 720px;
        margin-bottom: 32px;
    }
}