.cover__background {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
}

.cover__background:hover::before {
    opacity: 0.8;
}

.cover__background::before {
    background: #2A2C2F;
    opacity: 0.3;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}