.footer {
  width: calc(100% - 28px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 64px;
  padding-bottom: 24px;
}

@media screen and (min-width: 568px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 95px;
    width: calc(100% - 48px);
  }
}

@media screen and (min-width: 984px) {
  .footer {
    width: calc(100% - 96px);
  }
}