.header {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

@media screen and (min-width: 568px) {
    .header {
        padding-top: 28px;
        width: calc(100% - 48px);
    }
}

@media screen and (min-width: 984px) {
    .header {
        width: calc(100% - 96px);
    }
}