.place {
    max-width: 1007px;
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 32px; 
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .place {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-row-gap: 28px;
        grid-column-gap: 28px;
        margin-bottom: 80px; 
    }   
} 