.lead {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 984px) {
    .lead {
        width: calc(100% - 96px);
    }
}

@media screen and (min-width: 1140px) {
    .lead {
        padding-top: 56px;
    }
}