.header__lang-link {
    font-size: 22px;
    line-height: 20px;
    font-weight: normal;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .header__lang-link {
        font-size: 29px;
        line-height: 28px;
    }   
}    

