.place__website {
    margin: 0 auto;
    width: calc(100% - 32px);
    align-self: end;
}

@media screen and (min-width: 568px) {
    .place__website {
        width: 100%;
        padding: 0;
    }
}